body, html {
    margin: 0;
    padding: 0;
    font-family: 'Sen', sans-serif;
}

.top-bar {
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.menu-icon {
    cursor: pointer;
    font-size: 30px;
}

.site-title {
    text-align: center;
    flex-grow: 1;
}

.menu {
    display: none;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.menu a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: black;
}

.menu a:hover {
    background-color: #ddd;
}

.header-image {
    background: url('bilder/skedar.jpg') no-repeat center center;
    background-size: cover;
    height: 50vh;
    width: 100%;
}

.logo {
    height: 50px; /* Eller den höjd du föredrar */
    margin-right: 10px;
}
